Repository WallarooLabs/wallaroo, pull requests merged in 2019-07, with the labels that each got.

#2952 Migrate correctness tests to conformance test suites (#2914)
  .circleci/config.yml
  machida/lib/wallaroo/__init__.py
  testing/conformance/Makefile
  testing/conformance/conformance/applications.py
  testing/conformance/conformance/applications/__init__.py
  testing/conformance/conformance/applications/cli.py
  testing/conformance/conformance/applications/system_events.py
  testing/conformance/conformance/applications/topology.py
  testing/conformance/conformance/applications/window.py
  testing/conformance/conformance/base.py
  testing/conformance/conformance/completes_when.py
  testing/conformance/conformance/configurations.py
  testing/conformance/conformance/expectations.py
  testing/conformance/conformance/inputs.py
  testing/conformance/conformance/integration.py
  testing/conformance/conftest.py
  testing/conformance/tests/cli.py
  testing/conformance/tests/system_events.py
  testing/conformance/tests/topology.py
  testing/conformance/tests/window_policy.py
  testing/correctness/README_PLAYBOOKS.md
  testing/correctness/apps/topology_tester/Makefile
  testing/correctness/apps/topology_tester/components.py
  testing/correctness/apps/topology_tester/topology_tester.py
  testing/correctness/playbooks/boundary-reconnect.md
  testing/correctness/playbooks/metrics.md
  testing/correctness/playbooks/recovery.md
  testing/correctness/playbooks/restart-without-resilience.md
  testing/correctness/playbooks/sink.md
  testing/correctness/tests/autoscale/Makefile
  testing/correctness/tests/autoscale/autoscale_tests.py
  testing/correctness/tests/cli_tests/Makefile
  testing/correctness/tests/cli_tests/cli_tests.py
  testing/correctness/tests/cli_tests/conftest.py
  testing/correctness/tests/resilience/conftest.py
  testing/correctness/tests/resilience/resilience.py
  testing/correctness/tests/resilience/resilience_tests.py
  testing/correctness/tests/resilience/test_creator.py
  testing/correctness/tests/topology/Makefile
  testing/correctness/tests/topology/conftest.py
  testing/correctness/tests/topology/new_tests.md
  testing/correctness/tests/topology/topology_tests.py
  testing/tools/integration/__init__.py
  testing/tools/integration/cluster.py
  testing/tools/integration/external.py
  testing/tools/integration/logger.py
  testing/tools/integration/test_context.py
Labels: technical-drag, test

#2966 Fix data race in handle_restarted()
  machida/lib/wallaroo/experimental/__init__.py
Labels: changelog - fixed, test

#2969 Add polling loop around process kill; add 'ps aux' check
  testing/tools/integration/cluster.py
Labels: test

#2975 Update .release/bootstrap.sh for pytest and Python 3 packages
  .release/bootstrap.sh
Labels: test

#2976 Increase integration & conformance test timeouts 3x
  testing/conformance/conformance/applications/cli.py
  testing/conformance/conformance/applications/system_events.py
  testing/conformance/conformance/applications/topology.py
  testing/conformance/conformance/base.py
  testing/conformance/conformance/completes_when.py
  testing/conformance/conformance/control.py
  testing/conformance/tests/window_policy.py
  testing/tools/integration/cluster.py
  testing/tools/integration/control.py
  testing/tools/integration/integration.py
  testing/tools/integration/observability.py
  testing/tools/integration_test
Labels: test

#2981 Add `--window-late-policy` flag to machida & machida3
  machida/lib/wallaroo/__init__.py
  machida/machida.pony
  machida3/machida.pony
  testing/correctness/apps/window_detector/Makefile
  testing/correctness/apps/window_detector/window_detector.py
Labels: machida, test, windowing

#2982 Avoid at-least-once source tests with multiple TCP connections per key
  testing/correctness/apps/window_detector/Makefile
Labels: connectors, test
